<!-- templates/expedientes/representante_form.html -->

{% if object %}
    <h1>Editar Información del Representante Legal</h1>
{% else %}
    <h1>Añadir Representante Legal</h1>
{% endif %}

<p>Completa el siguiente formulario con los datos del representante legal de la empresa.</p>

<!-- enctype es crucial para la carga de archivos -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar Cambios</button>
</form>

<br>
<a href="{% url 'dashboard' %}">Cancelar y volver al Panel de Control</a>
